<div class="stats">
<div class="number">
  <strong id="following" class="stat">
    <%= convert_auth @auth.auth_type %>
  </strong>
    认证方式
</div>
<div class="number">
  <strong id="followers" class="stat">
    <%= convert_device @auth.auth_device %>
  </strong>
    终端限制
</div>
</div>
