<%= form_tag "/access_nodes/setconfig" do  %>
  <%= hidden_field_tag "id", @access.id %>
  <div class="field">
    <%= select_tag :cmdline, "<option value='reboot'>重启设备</option><option value='wdctl clean'>免认证</option><option value='wdctl stop'>关闭进程</option><option value='wdctl restart'>进程重启</option>".html_safe %>
  </div>
  <%= submit_tag "远程管理", class: "btn btn-large btn-primary" %>
<% end %>
