<div class="stats">
<div class="number">
  <strong id="following" class="stat">
    <%= @online_num %>
  </strong>
  在线访客
</div>
<div class="number">
  <strong id="followers" class="stat">
    <%= @daily_num %>
  </strong>
  当天访客
</div>
</div>
