<h3>MAC地址白名单</h3>
<p></p>
<div id="tmacadd">
<% @macs.each do |mac| %>
  <div id="mac<%= mac.id.to_s %>" style="padding-bottom: 5px;" >
    <%= mac.mac %> <%= link_to "删除", macdel_url(mac), :remote => true, :class=>"btn-link" %>
  </div>
<% end %>
</div>
