<form action="/access_nodes/setconfig" method="POST">
  <input type="hidden" name="id" value="<%= @access_node.id %>"  >
   <p> config: <input type="text" name="cmdline" /></p> <br/>
  <input type="submit" value="submit"> 
</form>
