<footer class="footer">
<small>
  <a href="#">WifiPlatform</a>
  by huangzhe@ctbri
</small>
<nav> 
<ul>
  <li><%= link_to "About",   '#' %></li>
  <li><%= link_to "Contact", '#' %></li>
</ul> </nav>
</footer>
